In [89]:
import numpy as np
import pandas as pd
import nltk

In [90]:
df=pd.read_csv('IMDB Dataset.csv')

In [91]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [93]:
df['review']=df['review'].str.lower()
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [94]:
from bs4 import BeautifulSoup

def remove_html_tags(text):
    soup= BeautifulSoup(text,"html.parser")
    return soup.get_text()

In [95]:
df['review']=df['review'].apply(remove_html_tags)

C:\Users\Harsha\AppData\Local\Temp\ipykernel_27528\3935972237.py:4: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup= BeautifulSoup(text,"html.parser")

In [96]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [97]:
pip install contractions

Requirement already satisfied: contractions in c:\users\harsha\anaconda3\lib\site-packages (0.1.73)
Requirement already satisfied: textsearch>=0.0.21 in c:\users\harsha\anaconda3\lib\site-packages (from contractions) (0.0.24)
Requirement already satisfied: anyascii in c:\users\harsha\anaconda3\lib\site-packages (from textsearch>=0.0.21->contractions) (0.3.2)
Requirement already satisfied: pyahocorasick in c:\users\harsha\anaconda3\lib\site-packages (from textsearch>=0.0.21->contractions) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [98]:
import contractions
def expand_contractions(text):
    return contractions.fix(text)

In [99]:
df['review']=df['review'].apply(expand_contractions)

In [100]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there is a family where a little boy...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i am going to have to disagree with the previo...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [101]:
import string
def remove_punctuation(text):
    return text.translate(str.maketrans('','',string.punctuation))

In [102]:
df['review']=df['review'].apply(remove_punctuation)

In [103]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there is a family where a little boy...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i am going to have to disagree with the previo...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [104]:
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
def tokenize(text):
    return word_tokenize(text)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Harsha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [105]:
df['review']=df['review'].apply(tokenize)

In [106]:
df

                                                  review sentiment
0      [one, of, the, other, reviewers, has, mentione...  positive
1      [a, wonderful, little, production, the, filmin...  positive
2      [i, thought, this, was, a, wonderful, way, to,...  positive
3      [basically, there, is, a, family, where, a, li...  negative
4      [petter, matteis, love, in, the, time, of, mon...  positive
...                                                  ...       ...
49995  [i, thought, this, movie, did, a, down, right,...  positive
49996  [bad, plot, bad, dialogue, bad, acting, idioti...  negative
49997  [i, am, a, catholic, taught, in, parochial, el...  negative
49998  [i, am, going, to, have, to, disagree, with, t...  negative
49999  [no, one, expects, the, star, trek, movies, to...  negative

[50000 rows x 2 columns]

In [107]:
from nltk.stem import PorterStemmer
stemmer= PorterStemmer()
def stem_words(words):
    stemmed_words=[stemmer.stem(word) for word in words]
    return stemmed_words

In [108]:
df['review']=df['review'].apply(stem_words)

In [109]:
df

                                                  review sentiment
0      [one, of, the, other, review, ha, mention, tha...  positive
1      [a, wonder, littl, product, the, film, techniq...  positive
2      [i, thought, thi, wa, a, wonder, way, to, spen...  positive
3      [basic, there, is, a, famili, where, a, littl,...  negative
4      [petter, mattei, love, in, the, time, of, mone...  positive
...                                                  ...       ...
49995  [i, thought, thi, movi, did, a, down, right, g...  positive
49996  [bad, plot, bad, dialogu, bad, act, idiot, dir...  negative
49997  [i, am, a, cathol, taught, in, parochi, elemen...  negative
49998  [i, am, go, to, have, to, disagre, with, the, ...  negative
49999  [no, one, expect, the, star, trek, movi, to, b...  negative

[50000 rows x 2 columns]

In [110]:
print(df.loc[0][0])

['one', 'of', 'the', 'other', 'review', 'ha', 'mention', 'that', 'after', 'watch', 'just', '1', 'oz', 'episod', 'you', 'will', 'be', 'hook', 'they', 'are', 'right', 'as', 'thi', 'is', 'exactli', 'what', 'happen', 'with', 'meth', 'first', 'thing', 'that', 'struck', 'me', 'about', 'oz', 'wa', 'it', 'brutal', 'and', 'unflinch', 'scene', 'of', 'violenc', 'which', 'set', 'in', 'right', 'from', 'the', 'word', 'go', 'trust', 'me', 'thi', 'is', 'not', 'a', 'show', 'for', 'the', 'faint', 'heart', 'or', 'timid', 'thi', 'show', 'pull', 'no', 'punch', 'with', 'regard', 'to', 'drug', 'sex', 'or', 'violenc', 'it', 'is', 'hardcor', 'in', 'the', 'classic', 'use', 'of', 'the', 'wordit', 'is', 'call', 'oz', 'as', 'that', 'is', 'the', 'nicknam', 'given', 'to', 'the', 'oswald', 'maximum', 'secur', 'state', 'penitentari', 'it', 'focus', 'mainli', 'on', 'emerald', 'citi', 'an', 'experiment', 'section', 'of', 'the', 'prison', 'where', 'all', 'the', 'cell', 'have', 'glass', 'front', 'and', 'face', 'inward', 'so', 'privaci', 'is', 'not', 'high', 'on', 'the', 'agenda', 'them', 'citi', 'is', 'home', 'to', 'manyaryan', 'muslim', 'gangsta', 'latino', 'christian', 'italian', 'irish', 'and', 'moreso', 'scuffl', 'death', 'stare', 'dodgi', 'deal', 'and', 'shadi', 'agreement', 'are', 'never', 'far', 'awayi', 'would', 'say', 'the', 'main', 'appeal', 'of', 'the', 'show', 'is', 'due', 'to', 'the', 'fact', 'that', 'it', 'goe', 'where', 'other', 'show', 'would', 'not', 'dare', 'forget', 'pretti', 'pictur', 'paint', 'for', 'mainstream', 'audienc', 'forget', 'charm', 'forget', 'romanceoz', 'doe', 'not', 'mess', 'around', 'the', 'first', 'episod', 'i', 'ever', 'saw', 'struck', 'me', 'as', 'so', 'nasti', 'it', 'wa', 'surreal', 'i', 'could', 'not', 'say', 'i', 'wa', 'readi', 'for', 'it', 'but', 'as', 'i', 'watch', 'more', 'i', 'develop', 'a', 'tast', 'for', 'oz', 'and', 'got', 'accustom', 'to', 'the', 'high', 'level', 'of', 'graphic', 'violenc', 'not', 'just', 'violenc', 'but', 'injustic', 'crook', 'guard', 'who', 'will', 'be', 'sold', 'out', 'for', 'a', 'nickel', 'inmat', 'who', 'will', 'kill', 'on', 'order', 'and', 'get', 'away', 'with', 'it', 'well', 'manner', 'middl', 'class', 'inmat', 'be', 'turn', 'into', 'prison', 'bitch', 'due', 'to', 'their', 'lack', 'of', 'street', 'skill', 'or', 'prison', 'experi', 'watch', 'oz', 'you', 'may', 'becom', 'comfort', 'with', 'what', 'is', 'uncomfort', 'viewingthat', 'is', 'if', 'you', 'can', 'get', 'in', 'touch', 'with', 'your', 'darker', 'side']

In [111]:
!pip install scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer= TfidfVectorizer()

Requirement already satisfied: scikit-learn in c:\users\harsha\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\harsha\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\harsha\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\harsha\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\harsha\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [112]:
df['review']=df['review'].apply(lambda tokens: ' '.join(tokens))

In [113]:
vectorizer1=TfidfVectorizer(max_features=10000)

In [114]:
tfidf=vectorizer1.fit_transform(df['review'])

In [115]:
tfidf_df=pd.DataFrame(tfidf.toarray(),columns=vectorizer1.get_feature_names_out())

In [116]:
tfidf_df

,007,010,10,100,1000,10000,101,1010,11,110,...,zoe,zoey,zombi,zone,zoo,zoom,zorro,zu,zucco,zucker
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.072648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.104765,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
vectorizer1.get_feature_names_out()

array(['007', '010', '10', ..., 'zu', 'zucco', 'zucker'], dtype=object)

In [118]:
df_tfidf = pd.concat([df['sentiment'], tfidf_df.drop('sentiment',axis =1 )], axis=1)

In [119]:
df_tfidf

,sentiment,007,010,10,100,1000,10000,101,1010,11,...,zoe,zoey,zombi,zone,zoo,zoom,zorro,zu,zucco,zucker
0,positive,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,positive,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,positive,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,negative,0.0,0.0,0.072648,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.104765,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,positive,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,positive,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,negative,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,negative,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,negative,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,negative,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [120]:
df_tfidf['sentiment']

0        positive
1        positive
2        positive
3        negative
4        positive
           ...
49995    positive
49996    negative
49997    negative
49998    negative
49999    negative
Name: sentiment, Length: 50000, dtype: object

In [121]:
df_tfidf['sentiment']=df_tfidf['sentiment'].apply(lambda x:1 if x == 'positive' else 0)

In [122]:
df_tfidf

,sentiment,007,010,10,100,1000,10000,101,1010,11,...,zoe,zoey,zombi,zone,zoo,zoom,zorro,zu,zucco,zucker
0,1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.072648,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.104765,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
X=df_tfidf.drop('sentiment',axis=1)
y=df_tfidf['sentiment']

In [125]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [126]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [127]:
y_pred=rf.predict(X_test)

In [129]:
from sklearn.metrics import precision_score, recall_score, f1_score,accuracy_score
accuracy_score(y_test,y_pred)

0.8423

In [130]:
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

Precision: 0.84
Recall: 0.84
F1 Score: 0.84